@import 'variables';

$base-color: $app-color-white;
$hover-color: #a09595;

header {
  // height: 2rem;
  align-items: center;
  background-color: $header-color;
  // display: flex;
  color: $app-color-white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;

  .content {
    height: 3rem;
    display: flex !important;
    justify-content: space-between;
    align-items: center; // .title {
    //   width: 30%;
    // }
    // .user-widget {
    //   width: 20%;
    // }
    .title,
    .user-widget {
      text-align: center;
    }

    nav {
      // width: 50%;

      .item {
        color: $base-color;
        text-decoration: none;
        padding: 1rem;

        &:focus {
          border: $hover-color;
        }

        &:hover {
          color: $hover-color;
        }

        &.current {
          color: #2b2b2b;
        }
      }
    }
  }
}
